.header{
	padding: 0px;
	overflow:hidden;
	background-color: #006699;
	color:#FFFFFF;
	height: 100px;
}


#logo a:link,#logo a:visited,#logo a:hover,#logo a:active
{
	float: left;
	margin: 30px;
	padding: 10px;
	background-color:rgb(16,35,114);
	border: thick solid white;
	color:#FFFFFF;
	text-decoration:none;
	font-weight: bold;
}


#nav{

	float: right;

	
	/* padding-left: 0px; */
}

#nav a:link,#nav a:visited
{
	float:right;
	margin-top: 30px;
	margin-left: 5px;
	margin-right: 10px;
	padding: 5px;
	background-color:#FFFFFF;
	color:#000000;
	border: thin solid black;
	text-decoration:none;
}

#nav a:hover,#nav a:active
{
background-color:#e2dfd3;
}
#nav form{
	float:right;
	margin-top: 30px;
	width: 200px;
	height: 10em; 


}
.content{ padding: 15px 20px;
 /* border: solid 1px #D1D8E1;*/
  background-color: white;
  line-height: 15px;
  margin: 0px 10px;
}

.content > h1{
	text-align: left;
	color:rgb(16,35,114);
}
.content #logo a:link,.content #logo a:visited,.content #logo a:hover,.content #logo a:active
{
	float: left;
	margin: 0px;
	padding: 10px;
	background-color:rgb(16,35,114);
	border: thick solid white;
	color:#FFFFFF;
	text-decoration:none;
	font-weight: bold;
}
#intro{
	text-align: left
}

.footer {
  position:absolute;
  bottom:0;
   width:100%;
   height: 50px;
  background-color: #006699;
  padding: 10px;
  text-align: center;
  font-size: 11px;
}

.footer > ul {
  list-style: none;
}

.footer > li {
  display: inline;
  border-left: solid 1px #758190;
  padding: 0 10px;
  color: #FFFFFF;
}

.footer > li > a {
  color: #FFFFFF;
}

.footer > li.first {
  border-left: none;
}


.console{
	float:right;
	width: 450px;
	margin-right: 50px;
	background-color: #BBBBBD ;
	border: thin solid black;	

}




#tab-container
{
   float: left;
   margin: 50px 0 0 0;
   width: 126px;
}
#tab-container ul
{
   list-style: none;
   text-align: center;
}
#tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 8px solid #666;
   background-color: #ddd;
   margin: 8px 0;
}
#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 15px 5px;
}
#tab-container ul li:hover
{
   border-left: 8px solid #333;
}
#tab-container ul li a:hover
{
   color: #000;
}
#tab-container ul li.selected
{
   border-right: none;
   background-color: #fff;
   border-left: 8px solid #006699;
}
#main-container
{
   min-height: 400px;
   margin: 0 0 0 125px;
   padding: 20px;
   background-color: #fff;
   border: 1px solid #888;
}




p {
margin: 8px 0px;
font-size: 13px;
line-height: 30px;
}

body{
	margin:0;  
	font-family: Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #444;
	}
.error {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    
}




